<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Clarusway</title>
</head>
<body>
<form method="post">
<input type="text" name="h" placeholder="enter your height">
<input type="text" name="w" placeholder="enter your weight">
<input type="submit" value="submit">

{%if result%}
<p>your body index is {{result}}</p>
{%endif%}
</form>
</body>
</html>